*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
html{
     font-size: calc(13px + 0.390625vw);
     scroll-behavior: smooth;
}
main{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}